@import 'nav.css';
@import 'fish.css';
@import 'tips.css';

body {
    background: lightslategray;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bordered {
    justify-content: space-evenly;
}